<div ng-controller="alunoController" ng-init="loadSelects();">
	<ul id="shortcut">
		<li><a href="#" title="Adicionar" ng-click="newRow();"><img src="images/adicionar.png" alt="Adicionar"><strong>Adicionar</strong></a></li>
		<li><a href="#" title="Listar" ng-click="toggle('grid');"><img src="images/listar.png" alt="Listar"><strong>Listar</strong></a></li>
	</ul>
	<div ng-switch on="visualType">
		<div class="row-fluid" ng-switch-when="form">
			<div class="widget span12 clearfix">
				<div class="widget-header">
					<span>Cadastrar</span>
				</div>
				<div class="widget-content">
					<form id="aluno_form" class="form">
						<div class="section">
							<label>Nome</label>
							<div>
								<input class="full" type="text" name="nome" ng-model="form.nome">
							</div>
						</div>
						<div class="section">
							<label>Data Nascimento</label>
							<div>
								<input class="xsmall data" type="text" name="data_nasc" ng-model="form.data_nasc" ui-date>
							</div>
						</div>
						<div class="section">
							<label>RG</label>
							<div>
								<input class="xsmall" type="text" name="rg" ng-model="form.rg" ui-rg/>
							</div>
						</div>
						<div class="section">
							<label>CPF</label>
							<div>
								<input class="small cpf" type="text" name="cpf" ng-model="form.cpf" ui-cpf/>
							</div>
						</div>
						<div class="section">
							<label>Estado Civil</label>
							<div>
								<select class="selectBox" name="estadoCivil" ng-model="form.estado_civil">
									<option value="solteiro">Solteiro</option>
									<option value="casado">Casado</option>
									<option value="divorciado">Divorciado</option>
									<option value="viuvo">Viúvo</option>
								</select>
							</div>
						</div>
						<div class="section">
							<label>E-mail</label>
							<div>
								<input class="large" type="text" name="email" ng-model="form.email">
							</div>
						</div>
						<div class="section">
							<label>Logradouro</label>
							<div>
								<input class="full" type="text" name="logradouro" ng-model="form.logradouro">
							</div>
						</div>
						<div class="section">
							<label>Complemento</label>
							<div>
								<input class="small" type="text" name="complemento" ng-model="form.complemento">
							</div>
						</div>
						<div class="section">
							<label>Bairro</label>
							<div>
								<input class="full" type="text" name="bairro" ng-model="form.bairro">
							</div>
						</div>
						<div class="section">
							<label>Cidade</label>
							<div>
								<input class="full" type="text" name="cidade" ng-model="form.cidade">
							</div>
						</div>
						<div class="section">
							<label>UF</label>
							<div>
								<input class="xxsmall uf" type="text" name="uf" ng-model="form.uf">
							</div>
						</div>
						<div class="section">
							<label>CEP</label>
							<div>
								<input class="xsmall cep" type="text" name="cep" ng-model="form.cep">
							</div>
						</div>
						<div class="section">
							<label>Telefone Fixo</label>
							<div>
								<input class="small fone" type="text" name="telfixo" ng-model="form.tel_fixo" ui-phone>
							</div>
						</div>
						<div class="section">
							<label>Telefone Celular</label>
							<div>
								<input class="small fone" type="text" name="telcel" ng-model="form.tel_celular" ui-phone>
							</div>
						</div>
						<div class="section">
							<label>Pessoa Referência</label>
							<div>
								<input class="full" type="text" name="pessoa_ref" ng-model="form.pessoa_ref">
							</div>
						</div>
						<div class="section">
							<label>Telefone Referência</label>
							<div>
								<input class="small fone" type="text" name="telref" ng-model="form.tel_ref" ui-phone>
							</div>
						</div>
						<div class="section">
							<label>Plano de Saúde</label>
							<div>
								<input class="medium" type="text" name="planoSaude" ng-model="form.plano_saude">
							</div>
						</div>
						<div class="section">
							<label>Atestado Médico</label>
							<div>
								<div class="checksquared">
									<input id="check-1" type="checkbox" value="action" name="atestadoMedico" ng-model="form.atestado_medico">
									<label title="Sim" for="check-1"></label>
								</div>
							</div>
						</div>
						<div class="section">
							<label>Plano</label>
							<div>
								<select class="selectBox" ng-model="form.id_plano_fk" ui-select2="{ allowClear: true}" data-placeholder="Selecione um plano">
									<option value=""></option>
									<option ng-repeat="plano in selectData.plano" value="{{plano.id_plano}}">{{plano.nome}}</option>
								</select>
							</div>
						</div>
						<div class="section">
							<label>Horario Econômico</label>
							<div>
								<div class="checksquared">
									<input id="check-1" type="checkbox" value="action" name="horarioeconomico" ng-model="form.horario_economico">
									<label title="Sim" for="check-1"></label>
								</div>
							</div>
						</div>
						<div class="section">
							<label>Forma de Pagamento</label>
							<div>
								<select class="selectBox" ng-model="form.id_forma_pagamento_fk" ui-select2="{ allowClear: true}" data-placeholder="Selecione a forma de pagamento">
									<option value=""></option>
									<option ng-repeat="formapagamento in selectData.formapagamento" value="{{formapagamento.id_forma_pagamento}}">{{formapagamento.nome}}</option>
								</select>
							</div>
						</div>
						<div class="section">
							<label>Desconto</label>
							<div>
								<select class="selectBox" ng-model="form.id_desconto_fk" ui-select2="{ allowClear: true}" data-placeholder="Selecione o desconto">
									<option value=""></option>
									<option ng-repeat="desconto in selectData.desconto" value="{{desconto.id_desconto}}">{{desconto.nome}}</option>
								</select>
							</div>
						</div>
						<div class="section">
							<label>Valor Total</label>
							<div>
								<i class="moeda"></i><input type="text" class="small" name="valorTotal" ng-model="form.valor_total"/>
							</div>
						</div>
						<div class="section">
							<label>Status</label>
							<div>
								<select class="selectBox" name="status" ng-model="form.status">
									<option value="1">Ativo</option>
									<option value="2">Inativo</option>
									<option value="3">Trancado</option>
								</select>
							</div>
						</div>
						<div class="section last">
							<div>
								<a id="btnCadastrarDesconto" class="btn btn-success" title="Salvar" ng-click ="save();">Salvar</a>
								<input type="reset" class="btn" value="Cancelar">
								<a class="btn" title="Imprimir Contrato"><i class="icon-file"></i> Imprimir Contrato</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row-fluid" ng-switch-when="grid">
			<div class="widget span4 clearfix">
				<div class="widget-header">
					<span>Pesquisar</span>
				</div>
				<div class="widget-content">
					<form>
						<div class="section">
							<label>Nome</label>
							<div>
								<input class="full" type="text" name="nome" ng-model="pesquisaForm.nome">
							</div>
						</div>
						<div class="section">
							<label>Plano</label>
							<div>
							<select class="full selectBox" ng-model="pesquisaForm.id_plano_fk" ui-select2="{ allowClear: true}" data-placeholder="Selecione um plano">
									<option value=""></option>
									<option ng-repeat="plano in selectData.plano" value="{{plano.id_plano}}">{{plano.nome}}</option>
								</select>
							</div>
						</div>
						<div class="section">
							<label>Horario Econômico</label>
							<div>
								<div class="checksquared">
									<input id="check-1" type="checkbox" value="action" name="horarioeconomico" ng-model="pesquisaForm.horarioeconimico">
									<label title="Sim" for="check-1"></label>
								</div>
							</div>
						</div>
						<div class="section last">
							<div>
								<a class="btn btn-success" rel="1" title="Buscar" ng-click="pesquisa('aluno');">Buscar</a>
								<a class="btn">Cancelar</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="widget span8 clearfix">
				<div class="widget-header">
					<span>Resultado Buscas</span>
				</div>
				<div class="widget-content">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Nome</th>
								<th>E-mail</th>
								<th>Telefone Celular</th>
								<th>Plano</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody align="center">
							<tr ng-repeat="aluno in pesquisaDataset">
								<td>{{aluno.nome}}</td>
								<td>{{aluno.email}}</td>
								<td>{{aluno.tel_celular}}</td>
								<td>{{aluno.id_plano_fk | translateValue:selectData.plano:'id_plano'}}</td>
								<td>
									<a ng-click="edit($index);"><img src="images/icon/icon_edit.png"></a>
									<a ng-click="delete($index);" class="delete"><img src="images/icon/icon_delete.png"></a>
									<!-- <a href="javascript:;" class="print" title="Imprimir Contrato"><img src="images/icon/color_18/print2.png"></a> -->
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>