<ul id="shortcut">
    <li><a href="#" title="Adicionar" ng-click="newRow('aulaexp');"><img src="images/adicionar.png" alt="Adicionar"><strong>Adicionar</strong></a></li>
    <li><a href="#" title="Listar" ng-click="toggle('grid');"><img src="images/listar.png" alt="Listar"><strong>Listar</strong></a></li>
</ul>	
<div ng-switch on="visualType">
	<div class="row-fluid" ng-switch-when="form">
		<div class="widget span12 clearfix">
			<div class="widget-header">
				<span>Cadastrar</span>
			</div>
			<div class="widget-content">
				<form id="aulaexp_form" class="form">
					<div class="section">
						<label>Nome</label>
						<div>
							<input class="full" type="text" name="nome" ng-model="form.aulaexp.nome">
						</div>
					</div>
					<div class="section">
						<label>Data Aula</label>
						<div>
							<input class="medium data" type="text" ui-mask="'99/99/9999'" name="data" ng-model="form.aulaexp.data">
						</div>
					</div>
					<div class="section">
						<label>Telefone</label>
						<div>
							<input class="large fone" type="text" name="telefone" ui-mask="'(99) 9999-9999'" ng-model="form.aulaexp.telefone">
						</div>
					</div>
					<div class="section">
						<label>Confirmado</label>
						<div>
							<div class="checksquared">
								<input id="confirmado" type="checkbox" value="action" name="confirmado" ng-model="form.aulaexp.confirmado">
								<label title="Sim" for="confirmado"></label>
							</div>
						</div>
					</div>
					<div class="section">
						<label>Presente</label>
						<div>
							<div class="checksquared">
								<input id="presente" type="checkbox" value="action" name="presente" ng-model="form.aulaexp.presente">
								<label title="Sim" for="presente"></label>
							</div>
						</div>
					</div>
					<div class="section last">
						<div>
							<a id="btnSalvar" class="btn btn-success" title="Salvar" ng-click="save('aulaexp');">Salvar</a>
							<input type="reset" class="btn" value="Cancelar">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row-fluid" ng-switch-when="grid">
		<div class="widget span4 clearfix" ng-controller="pesquisaController">
			<div class="widget-header">
				<span>Pesquisar</span>
			</div>
			<div class="widget-content">
				<form>
					<div class="section">
						<label>Nome</label>
						<div>
							<input class="full" type="text" name="nome" ng-model="pesquisaForm.aulaexp.nome">
						</div>
					</div>
					<div class="section">
						<label>Data Aula</label>
						<div>
							<input class="medium" ui-mask="'99/99/9999'" type="text" name="data" ng-model="pesquisaForm.aulaexp.data">
						</div>
					</div>
					<div class="section last">
						<div>
							<a class="btn btn-success" title="Buscar" ng-click="pesquisa('aulaexp');">Buscar</a>
							<a class="btn">Cancelar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="widget span8 clearfix">
			<div class="widget-header">
				<span>Alunos</span>
			</div>
			<div class="widget-content">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Data Aula</th>
							<th>Telefone</th>
							<th>Confirmado</th>
							<th>Presente</th>
							<th>Ação</th>
						</tr>
					</thead>
					<tbody align="center">
						<tr ng-repeat="aulaexp in dataset.aulaexp">
							<td>{{aulaexp.nome}}</td>
							<td>{{aulaexp.data}}</td>
							<td>{{aulaexp.telefone}}</td>
							<td>{{aulaexp.confirmado}}</td>
							<td>{{aulaexp.presente}}</td>
							<td>
								<a ng-click="edit('aulaexp',$index);"><img src="images/icon/icon_edit.png"></a>
								<a ng-click="delete('aulaexp',$index);" class="delete"><img src="images/icon/icon_delete.png"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>