<div class="row-fluid" ng-controller="dashboardController" ng-init="loadData();">
	<div class="widget span12 clearfix">
        <div class="widget-header">
            <span>Alunos</span>
        </div>
        <div class="widget-content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Ativos</th>
                        <th>Bolsistas 50%</th>
                        <th>Bolsistas 100%</th>
                        <th>Inativos</th>
                        <th>Trancados</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <tr ng-repeat="alunos in dashboardData.alunos">
                        <td>{{alunos.ativo}}</td>
                        <td>{{alunos.bolsa50}}</td>
                        <td>{{alunos.bolsa100}}</td>
                        <td>{{alunos.inativo}}</td>
                        <td>{{alunos.trancado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row-fluid" ng-controller="dashboardController" ng-init="loadData();">
    <div class="widget span6 clearfix">
		<div class="widget-header">
			<span>Aniversariantes do mês</span>
		</div>
		<div class="widget-content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <tr ng-repeat="aniversariante in dashboardData.aniversarios">
                        <td>{{aniversariante.nome}}</td>
                        <td>{{aniversariante.data_nasc}}</td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
    <div class="widget span6 clearfix">
        <div class="widget-header">
            <span>Planos Vencendo</span>
        </div>
        <div class="widget-content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data Fim</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <tr ng-repeat="plano in dashboardData.plano">
                        <td>{{plano.nome}}</td>
                        <td>{{plano.plano_fim}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row-fluid" ng-controller="dashboardController" ng-init="loadData();">
    <div class="widget span6 clearfix">
        <div class="widget-header">
            <span>Estacionamentos Vencendo</span>
        </div>
        <div class="widget-content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data Fim</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <tr ng-repeat="estacionamento in dashboardData.estacionamento">
                        <td>{{estacionamento.nome}}</td>
                        <td>{{estacionamento.plano_fim}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="widget span6 clearfix">
        <div class="widget-header">
            <span>Alunos Trancados</span>
        </div>
        <div class="widget-content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <tr ng-repeat="aluno in dashboardData.aluno">
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.aluno_status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>