<div ng-controller="fisionutriController">
	<ul id="shortcut">
		<li><a href="#" title="Adicionar" ng-click="newRow();"><img src="images/adicionar.png" alt="Adicionar"><strong>Adicionar</strong></a></li>
		<li><a href="#" title="Listar" ng-click="toggle('grid');"><img src="images/listar.png" alt="Listar"><strong>Listar</strong></a></li>
	</ul>	
	<div ng-switch on="visualType">
		<div class="row-fluid" ng-switch-when="form">
			<div class="widget span12 clearfix">
				<div class="widget-header">
					<span>Cadastrar</span>
				</div>
				<div class="widget-content">
					<form id="fisionutri_form" class="form">
						<div class="section">
							<label>Nome</label>
							<div>
								<input class="full" type="text" name="nome" ng-model="form.nome">
							</div>
						</div>
						<div class="section">
							<label>Data</label>
							<div>
								<input class="xsmall" type="text" name="data" ng-model="form.data" ui-date/>
							</div>
						</div>
						<div class="section">
							<label>Telefone</label>
							<div>
								<input class="small" type="text" name="telefone" ng-model="form.telefone" ui-phone>
							</div>
						</div>
						<div class="section">
							<label>Tipo</label>
							<div>
								<div class="radiorounded">
									<input id="radio-1" type="radio" value="1" name="tipo" ng-model="form.tipo">
									<label title="Fisioterapia" for="radio-1"></label>
								</div>
								<div class="radiorounded">
									<input id="radio-2" type="radio" value="2" name="tipo" ng-model="form.tipo">
									<label title="Nutrição" for="radio-2"></label>
								</div>
							</div>
						</div>
						<div class="section">
							<label>Serviço</label>
							<div>
								<input class="full" type="text" name="servico" ng-model="form.servico">
							</div>
						</div>
						<div class="section">
							<label>Valor</label>
							<div>
								<i class="moeda"></i><input type="text" class="small" name="valor" ng-model="form.valor" />
							</div>
						</div>
						<div class="section last">
							<div>
								<a id="btnSalvar" class="btn btn-success" title="Salvar" ng-click="save();">Salvar</a>
								<input type="reset" class="btn" value="Cancelar">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row-fluid" ng-switch-when="grid" >
			<div class="widget span4 clearfix">
				<div class="widget-header">
					<span>Pesquisar</span>
				</div>
				<div class="widget-content">
					<form>
						<div class="section">
							<label>Data</label>
							<div>
								<input class="medium" type="text" name="dataini" ng-model="pesquisaForm.data.data_ini" ui-date>
								<br/> a <br/>
								<input class="medium" type="text" name="datafim" ng-model="pesquisaForm.data.data_fim" ui-date>
							</div>
						</div>
						<div class="section">
							<label>Tipo</label>
							<div>
								<div class="radiorounded">
									<input id="radio-1" type="radio" value="1" name="opinions" ng-model="pesquisaForm.tipo">
									<label title="Fisioterapia" for="radio-1"></label>
								</div>
								<div class="radiorounded">
									<input id="radio-2" type="radio" value="2" name="opinions" ng-model="pesquisaForm.tipo">
									<label title="Nutrição" for="radio-2"></label>
								</div>
							</div>
						</div>
						<div class="section last">
							<div>
								<a class="btn btn-success" title="Buscar"  ng-click="pesquisa();">Buscar</a>
								<a class="btn">Cancelar</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="widget span8 clearfix">
				<div class="widget-header">
					<span>Resultado Buscas</span>
				</div>
				<div class="widget-content">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Data</th>
								<th>Tipo</th>
								<th>Valor (R$)</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody align="center">
							<tr ng-repeat="fisionutri in pesquisaDataset">
								<td>{{fisionutri.nome}}</td>
								<td>{{fisionutri.data}}</td>
								<td>{{fisionutri.tipo}}</td>
								<td>{{fisionutri.valor}}</td>
								<td>
									<a ng-click="edit($index);"><img src="images/icon/icon_edit.png"></a>
									<a ng-click="delete($index);" class="delete"><img src="images/icon/icon_delete.png"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>