<div id="login" class="row-fluid" ng-controller="loginController">
    <div class="inner clearfix">
        <div class="logo" ><img src="images/logo.png" alt="Logo Crossfit BH" /></div>
        <div class="formLogin">
            <form name="formLogin" id="login_form" ng-submit="valida()">
                <div class="tip">
                    <input name="username" type="text" id="username_id" title="Usuário" ng-model="loginData.username"/>
                </div>
                <div class="tip">
                    <input name="password" type="password" id="password" title="Senha" ng-model="loginData.password"/>
                </div>
                <div class="loginButton">
                    <div class=" pull-right" style="margin-right:-8px;">
                        <input type="submit" class="btn btn-success" id="but_login" value="Login"></button>
                    </div>
                </div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
    <div class="shadow"></div>
</div>