<div class="row-fluid" ng-controller="perfilController">
	<div class="widget span6 clearfix">
		<div class="widget-header">
			<span>Trocar Senha</span>
		</div>
		<div class="widget-content">
			<form id="perfil_formTrocarSenha">
				<div class="section">
					<label>Senha Atual</label>
					<div>
						<input id="senhaatual" class="full" type="password" name="senhaatual" ng-model="formPerfil.senhaatual"/>
					</div>
				</div>
				<div class="section">
					<label>Nova Senha</label>
					<div>
						<input id="senhanova" class="full" type="password" name="senhanova" ng-model="formPerfil.novasenha"/>
					</div>
				</div>
				<div class="section">
					<label>Confirmação</label>
					<div>
						<input id="confirmacao" class="full" type="password" name="confirmacao" ng-model="formPerfil.confirmacao"/>
					</div>
				</div>
				<div class="section last">
					<div>
						<a class="btn btn-success" title="Salvar" ng-click="alterarSenha();">Salvar</a>
						<input type="reset" class="btn" value="Cancelar">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="widget span6 clearfix">
		<div class="widget-header">
			<span>Trocar Nome Exibido</span>
		</div>
		<div class="widget-content">
			<form id="perfil_formTrocarNome">
				<div class="section">
					<label>Nome</label>
					<div>
						<input id="nome" class="full" type="text" name="nome" ng-model="formPerfil.nome"/>
					</div>
				</div>
				<div class="section">
					<label>Senha</label>
					<div>
						<input id="senha" class="full" type="password" name="senha" ng-model="formPerfil.senha"/>
					</div>
				</div>
				<div class="section last">
					<div>
						<a id="btnTrocarNome" class="btn btn-success" title="Salvar" ng-click="alterarNome();">Salvar</a>
						<input type="reset" class="btn" value="Cancelar">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>