<div ng-controller="presencaController">
	<ul id="shortcut">
		<li><a href="#" title="Adicionar" ng-click="newRow();"><img src="images/adicionar.png" alt="Adicionar"><strong>Adicionar</strong></a></li>
		<li><a href="#" title="Listar" ng-click="toggle('grid');"><img src="images/listar.png" alt="Listar"><strong>Listar</strong></a></li>
	</ul>	
	<div ng-switch on="visualType" >
		<div class="row-fluid" ng-switch-when="form">
			<div class="widget span4 clearfix">
				<div class="widget-header">
					<span>Buscar</span>
				</div>
				<div class="widget-content">
					<form>
						<div class="section last">
							<label>Aluno</label>
							<div>
								<input class="full" type="text" name="nome" ng-model="pesquisaForm.aluno.nomeAluno">
								<a class="btn btn-success" rel="1" ng-click="pesquisaAluno();">Buscar</a>
							</div>
						</div>
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Nome</th>
									<th>Presente</th>
								</tr>
							</thead>
							<tbody align="center">
								<tr ng-repeat="aluno in pesquisaDataset.aluno">	
									<td>{{aluno.nome}}</td>
									<td><img src="images/icon/color_18/directional_right.png" ng-click="addAlunoPresente(aluno);"></a></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
			<div class="widget span8 clearfix">
				<div class="widget-header">
					<span>Alunos</span>
				</div>
				<div class="widget-content">
					<form>
						<div class="section">
							<label>Data</label>
							<div>
								<input class="full" type="text" name="data" ng-model="formAula.data" ui-date/>
							</div>
						</div>
						<div class="section">
							<label>Horário</label>
							<div>
								<input class="full" type="text" name="horario" ng-model="formAula.horario" ui-hour/>
							</div>
						</div>
						<ol class="rectangle-list">
							<li ng-repeat="aluno in alunosPresente">{{aluno.nome}}<a class="ico color cross" ng-click="removeAlunoPresente($index);"></a></li>
						</ol>
						<div class="section last">
							<div>
								<a class="btn btn-success" rel="1" title="Saving" ng-click="salvaAlunosPresentes();">Salvar</a>
								<a class="btn">Cancelar</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row-fluid" ng-switch-when="grid">
			<div class="widget span4 clearfix">
				<div class="widget-header">
					<span>Pesquisar</span>
				</div>
				<div class="widget-content">
					<form>
						<div class="section">
							<label>Data</label>
							<div>
								<input class="full" type="text" name="data" ng-model="pesquisaForm.presenca.data" ui-date/>
							</div>
						</div>
						<div class="section last">
							<div>
								<a class="btn btn-success" rel="1" title="Pesquisar" ng-click="pesquisaAula();">Pesquisar</a>
								<a class="btn">Cancelar</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="widget span8 clearfix">
				<div class="widget-header">
					<span>Alunos</span>
				</div>
				<div class="widget-content">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Data</th>
								<th>Horario</th>
								<th>Num. Presentes</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody align="center">
							<tr ng-repeat="aula in pesquisaDataset.aula.aula_dia">
								<td>{{aula.data}}</td>
								<td>{{aula.horario}}</td>
								<td>{{aula.alunos_aula}}</td>
								<td>
									<a ng-click="editAlunosPresentes($index);"><img src="images/icon/icon_edit.png"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>