<div class="row-fluid" ng-controller="relalunoController" ng-init="loadSelects();">
	<div class="widget span5 clearfix">
		<div class="widget-header">
			<span>Pesquisar</span>
		</div>
		<div class="widget-content">
            <form id="relaluno_form">
                <div class="section">
                    <label>Data</label>
                    <div>
                        <input class="medium" type="text" name="dataini" ng-model="pesquisaForm.data_ini" ui-date> a 
                        <input class="medium" type="text" name="datafim" ng-model="pesquisaForm.data_fim" ui-date>
                    </div>
                </div>
                <div class="section">
                    <label>Nome</label>
                    <div>
                        <select class="selectBox full" ng-model="pesquisaForm.id_aluno" ui-select2="{ allowClear: true}" data-placeholder="Selecione um aluno">
                            <option value=""></option>
                            <option ng-repeat="aluno in selectData.aluno" value="{{aluno.id_aluno}}">{{aluno.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="section last">
                    <div>
                        <a class="btn btn-success" rel="1" title="Pesquisar" ng-click="pesquisa();">Pesquisar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="widget span7 clearfix">
        <div class="widget-header">
            <span>Resultado Buscas</span>
        </div>
        <div class="widget-content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Aluno</th>
                        <th>Plano</th>
                        <th>Num. Presencas</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <tr>
                        <td>{{pesquisaDataset.aluno[0].aluno}}</td>
                        <td>{{pesquisaDataset.aluno[0].plano}}</td>
                        <td>{{pesquisaDataset.presencas[0].num_presencas}}</td>
                    </tr>
                </tbody>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>