<div class="row-fluid" ng-controller="relaulaController">
	<div class="widget span5 clearfix">
		<div class="widget-header">
			<span>Pesquisar</span>
		</div>
		<div class="widget-content">
            <form id="relaula_form">
                <div class="section">
                    <label>Data</label>
                    <div>
                        <input class="medium" type="text" name="dataini" size="10" ng-model="chartForm.dataini" ui-date> a 
                        <input class="medium" type="text" name="datafim" size="10" ng-model="chartForm.datafim" ui-date>
                    </div>
                </div>
                <div class="section last">
                    <div>
                    <a class="btn btn-success" rel="1" title="Pesquisar" ng-click="pesquisa();">Pesquisar</a>
                    <a class="btn">Cancelar</a>
                    </div>
                </div>
            </form>
		</div>
	</div>
	<div class="widget span7 clearfix">
        <div class="widget-header">
            <span>{{pageTitle}}</span>
        </div>
        <div class="widget-content">
            <canvas height="450" width="880" id="canvas"></canvas>   
        </div>
    </div>
</div>