<div class="row-fluid" ng-controller="relalunoController" ng-init="loadSelects();">
	<div class="widget span5 clearfix">
		<div class="widget-header">
			<span>Pesquisar</span>
		</div>
		<div class="widget-content">
            <form id="relaluno_form">
                <div class="section">
                    <label>Nome</label>
                    <div>
                        <select class="small selectBox" style="width: 250px" ng-model="chartForm.id_aluno" ui-select2="{ allowClear: true}" data-placeholder="Selecione um aluno">
                            <option value=""></option>
                            <option ng-repeat="aluno in selectData.aluno" value="{{aluno.id_aluno}}">{{aluno.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="section">
                    <label>Data</label>
                    <div>
                        <input class="medium" type="text" name="dataini" ng-model="chartForm.dataini" ui-date> a 
                        <input class="medium" type="text" name="datafim" ng-model="chartForm.datafim" ui-date>
                    </div>
                </div>
                <div class="section last">
                    <div>
                        <a class="btn btn-success" rel="1" title="Pesquisar">Pesquisar</a>
                        <a class="btn">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="widget span7 clearfix">
        <div class="widget-header">
            <span>{{pageTitle}}</span>
        </div>
        <div class="widget-content" ng-init="loadChart();">
            <canvas height="450" width="880" id="canvas"></canvas>           
        </div>
    </div>
</div>